* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(32, 32, 32);
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}
